.bl_fullNavigation {
  position: relative;
  width: 100%;
  background-color: $color_blue;
  min-height: 28px;
  color: #fff;
}



  .bl_nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .bl_nav__fullItems {

    width: 100%;
    height: 100%;
  }

  .bl_nav__item {
    float: left;

    height: 100%;
    line-height: 2;
    text-align: center;
    margin-right: 4.5%; ////////// 30px

  }

  .bl_nav__link {

    display: block;
    width: 100%;
    color: white;
    font-size: 14px;

    &:hover,
    &:focus{
      color: #fff;
      text-decoration: underline;
    }
  }



// Mobile
.bl_fullNavigation_mobile .bl_nav {
  position: absolute;
  top: 48px;
  left: -4vw;
  width: 200px;
  min-height: 300px;
  transition: left 0.3s;

  background-color: rgba(1, 96, 172, 1);
  z-index: 10;

  &:before {
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
  }

  &.closeMenu {
    left: -150%;
    transition: left 0.3s;
  }

  .bl_nav__fullItems {
    margin-top: 20px;
    width: 100%;
    //height: 100%;
  }

  .bl_nav__item {
    position: relative;
    float: none;
    height: auto;
    display: block;
    margin: 10px 0;
    z-index: 11;
  }

  .bl_nav__link {

    text-transform: uppercase;
  }

}

.bl_control {
  width: 100%;
  min-height: 35px;
  line-height: 2;
  font-size: 14px;
}

.bl_fullNavigation_mobile .bl_control {
  margin: 10px auto;
  display: flex;
  justify-content: center;

  .bl_itemPrice,
  .bl_adress {
    float: none;
  }

  .bl_language {
    position: absolute;
    right: 10px;
  }
}

.bl_language {
  position: relative;

  float: right;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;

}

.bl_language__active {
  padding-right: 5px;

  &:after {
    position: absolute;
    top: 40%;
    left: 100%;
    content: "";
    width: 15px;
    height: 8px;
    background: url("../image/arrow_lang.svg") 50% 50% no-repeat;
  }
}

.bl_language__variables {

  position: absolute;
  top: 101%;
  left: 0;
  width: 50px;
  min-height: 30px;
  background-color: $color_blue;

  z-index: 10;
}

.bl_language__variables_item {
  position: relative;
  margin-left: 5px;
  padding: 2px 0;
  z-index: 11;
  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }

}

.bl_language__variables_item:hover:after {

  position: absolute;
  top: 35%;
  right: 20%;
  content: "";
  width: 15px;
  height: 8px;
  transform: rotate(90deg);
  background: url("../image/arrow_lang.svg") 50% 50% no-repeat;
  z-index: 12;
}

.bl_itemPrice {
  position: relative;
  padding-left: 25px;
  float: right;
  margin-right: 3%; ////////// 30px
  &:before {
    position: absolute;
    top: 25%;
    left: 0;
    content: "";
    width: 22px;
    height: 16px;
    background: url("../image/price.svg") 50% 50% no-repeat;
  }

}

.bl_itemPrice__download {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.bl_adress {
  position: relative;
  padding-left: 25px;
  float: right;
  margin-right: 3%; ////////// 30px
  z-index: 2;

  &:before {
    position: absolute;
    top: 25%;
    left: 0;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../image/location.svg") 50% 50% no-repeat;
  }
}

.bl_fullControlsMenu {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,.12);
  padding-bottom: 14px; ////////////
}

$marginTopItem: 16px;

.bl_logo__link {
  display: block;
  margin-top: 23px;
}

.bl_logo__image {
  display: block;

}

.bl_phonesSearch {
  width: 100%;
  margin-right: 10%;
  max-width: 360px;
  float: right;
  margin-top: $marginTopItem; ////////
}

.bl_phones {
  width: 100%;
}

.bl_phones__icon-cell {
  &:before{
    content: "";
    position: absolute;
    top: 2px;
    left: -20px;
    @include sprite($cell-phone);

  }
}

.bl_phones__icon-life {
  &:before{
    content: "";
    position: absolute;
    top: 2px;
    left: -20px;
    @include sprite($life);
  }
}

.bl_phones__text {
  position: relative;
  color: $color_grey2;
  &:nth-of-type(1){
    float: left;
  }
  &:nth-of-type(2){
    float: right;
  }
}

/////////// Search Advanced

.bl_search {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  top: 4px;
}

.bl_search__field {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid $color_grey3;
  border-radius: 20px;
  padding-right: 36px;
  outline: none;
  text-indent: 15px;

  &::placeholder {

    text-align: center;
    color: $color_grey2;
    font-size: 14px;

  }
  &:focus {
    border-color: $color_blue;
  }

  &:focus::placeholder {
    opacity: 0;
  }

}

.bl_search__button {
  position: absolute;
  top: 0;
  right: 0;

    display: block;


    background: none;
    border: none;

    width: 40px;
    height: 40px;
    box-sizing: border-box;
    z-index: 15;

    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 16px;
      height: 16px;
      background: url("../image/search.svg") 50% 50% no-repeat;
      background-size: cover;
    }

}

#search {
  position: relative;
  top: 4px;
  overflow: hidden;
  width: 100%;
}

.bl_search__wrap {
  display: block;
  position: absolute;
  left: 0;
  top: 66px;
  width: 500px;
  font-size: 12px;
  background-color: #5fa77e;
  box-sizing: border-box;
  z-index: 30;
}

.bl_search__button-buy {
  display: block;
  width: 85px;
  height: 30px;
  line-height: 29px;
  border-radius: 20px;
  margin: 8px auto 0;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #1162ab;
  background-color: #fff;
  color: #1162ab;
  transition: all .2s;
}

.bl_search__button-buy:hover {
  color: #fff;
  background-color: #1162ab;
}

.bl_search__item {
  padding: 0;
  box-shadow: 3px 3px 9px -1px rgba(181, 181, 181, 0.3);
  background-color: #fff;
  border: 1px solid #dcdcdc;
}

.bl_search__item:first-child {
  border-top: none;
}

.bl_search__item {
  padding: 20px 19px;
  border-top: 1px solid #dcdcdc;
}

.bl_search__list-item:first-child {
  padding-top: 0;
  border-top: none;
}

.bl_search__list-item {
  position: relative;
  box-sizing: border-box;
  height: 90px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}

.bl_search__image-wrap {
  position: relative;
  box-sizing: border-box;
  width: 80px;
  flex: 0 0 80px;
}

.bl_search__link-product {
  display: block;
  width: 100%;
  text-align: left;
}

.bl_search__link-category {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: left;
}

.bl_search__categories-name {
  text-decoration: underline;
}

.bl_search__product-name {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 20px;
  height: 40px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  line-height: 20px;
}

.bl_search__product-name {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 auto;
  margin: 0 20px;
}

.bl_search__link-product:hover,
.bl_search__link-category:hover .bl_search__categories-name {
  color: $color_blue;
  text-decoration: underline;
}

.bl_search__price-wrap {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 100px;
  padding-right: 5px;
}


//////////////


.bl_currency {
  position: relative;
  width: 100%;
  float: right;
  margin-top: $marginTopItem;
}

.bl_currency__input {
  position: absolute;
  visibility: hidden;
  right: 42px;
  z-index: 2;
}

.bl_currency__label {
  clear: both;
  display: block;
  float: right;
  cursor: pointer;

  &:nth-of-type(2) {
    margin-top: 10px; ////////////
  }
}

.bl_currency__text {
  position: relative;
  display: block;
  width: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.bl_currency__decorCircle {
  &:before {
    position: absolute;
    left: -27px;
    top: 2px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $color_grey3;
    z-index: 3;
  }
}

.bl_currency__input:checked + .bl_currency__label .bl_currency__decorCircle:after {
  position: absolute;
  left: -24px;
  top: 5px;
  content: '';
  width: 10px;
  height: 10px;
  background-color: $color_grey3;
  border: 1px solid $color_grey3;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 4;
}

$marginTopItem2: 22px;
.bl_shoppingCart {
  float: right;
  text-align: center;
  margin-top: 18px; ////////////
}

.bl_shoppingCart__icon {
  margin: 0 auto;
  width: 46px;
  height: 40px;
  background: url("../image/basket.svg") 50% 50% no-repeat;
}

.bl_shoppingCart__allItems {
  width: 100%;
  text-align: center;
}

.bl_shoppingCart__text {
  margin-top: 6px;
  color: $color_grey2;
}

.bl_shoppingCart__text.bl_shoppingCart__fullPrice {
  display: none;
}


.bl_personalRoom {
  float: right;
  width: 100px;
  margin-top: 18px; //////////////
  margin-right: 5%;

}

.bl_personalRoom__link {
  text-align: center;
  width: 100%;
}

.bl_personalRoom__icon {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../image/account.svg") 50% 50% no-repeat;
}

.bl_personalRoom__text {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.bl_fullCategories {
  width: 100%;
  min-height: 50px;
  background-color: transparent;
  border-top: 3px solid  $color_blue;
}


#top_menu {
  background-color: $color_blue;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .21);
}

.open-menu-main {
  position: absolute;
  top: 0;
  left: 0;

  //width: 50px;
  //height: 48px;

  color: #fff;
  box-sizing: border-box;
  //background-color: $color_blue;
  vert-align: bottom;
  text-transform: uppercase;
  //border: 1px solid #fff;
  font-size: 12px;
  z-index:3;

  width: 40px;
  height: 40px;
  border: 2px solid $color_blue;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px $color_blue2;
  background-color: $color_blue2;
}


.btn_microCallBack{
  position: relative;
  top: 12px;
  display: inline-block;
  width: 40px;
  height: 40px;
  color:#fff;
  background-color: $color_blue2;
  font-size: 28px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #fff;
  z-index: 10;

  &:focus,
  &:active{
    color: #fff;
  }
  
  &:after{
    content: "\f095";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $FontAwesom;
    color: inherit;
  }
}
///////
.field_search__second{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 100%;
  max-width: 320px;
}
.field_search__second .bl_search__field{
  border-color: $color_blue;
}


.button_map{
  position: relative;
  float: right;
  background-color: $color_blue;
  line-height: 2;
  font-size: 14px;
  color: #fff;
  margin-right: 2%;
  z-index: 2;

  &:hover{
    text-decoration: underline;
  }
}

.bl_map{
  position: fixed;
  width: 600px;

  min-height: 300px;
  padding: 0 10px 15px;
  top: 35%;
  left: calc(50% - 300px);

  background-color: #fff;
  border: 2px solid $color_blue;
  text-align: center;

  z-index: 1080;


  .bl_map__close{
    top: -4px;
    right: 10px;
  }
}

.bl_map__title{
  margin-top: 10px;
  font-family:$Tahoma;
  font-weight:700;
  text-align: center;
}

.bl_map__iframe{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  min-height:300px;
}