// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-facebook-name: 'btn-facebook';
$btn-facebook-x: 234px;
$btn-facebook-y: 205px;
$btn-facebook-offset-x: -234px;
$btn-facebook-offset-y: -205px;
$btn-facebook-width: 71px;
$btn-facebook-height: 25px;
$btn-facebook-total-width: 331px;
$btn-facebook-total-height: 288px;
$btn-facebook-image: '../image/sprite.png';
$btn-facebook: (234px, 205px, -234px, -205px, 71px, 25px, 331px, 288px, '../image/sprite.png', 'btn-facebook', );
$btn-google-plus-name: 'btn-googlePlus';
$btn-google-plus-x: 100px;
$btn-google-plus-y: 260px;
$btn-google-plus-offset-x: -100px;
$btn-google-plus-offset-y: -260px;
$btn-google-plus-width: 42px;
$btn-google-plus-height: 25px;
$btn-google-plus-total-width: 331px;
$btn-google-plus-total-height: 288px;
$btn-google-plus-image: '../image/sprite.png';
$btn-google-plus: (100px, 260px, -100px, -260px, 42px, 25px, 331px, 288px, '../image/sprite.png', 'btn-googlePlus', );
$btn-like-name: 'btn-like';
$btn-like-x: 155px;
$btn-like-y: 205px;
$btn-like-offset-x: -155px;
$btn-like-offset-y: -205px;
$btn-like-width: 74px;
$btn-like-height: 25px;
$btn-like-total-width: 331px;
$btn-like-total-height: 288px;
$btn-like-image: '../image/sprite.png';
$btn-like: (155px, 205px, -155px, -205px, 74px, 25px, 331px, 288px, '../image/sprite.png', 'btn-like', );
$btn-twitter-name: 'btn-twitter';
$btn-twitter-x: 205px;
$btn-twitter-y: 119px;
$btn-twitter-offset-x: -205px;
$btn-twitter-offset-y: -119px;
$btn-twitter-width: 96px;
$btn-twitter-height: 25px;
$btn-twitter-total-width: 331px;
$btn-twitter-total-height: 288px;
$btn-twitter-image: '../image/sprite.png';
$btn-twitter: (205px, 119px, -205px, -119px, 96px, 25px, 331px, 288px, '../image/sprite.png', 'btn-twitter', );
$fb-name: 'fb';
$fb-x: 260px;
$fb-y: 149px;
$fb-offset-x: -260px;
$fb-offset-y: -149px;
$fb-width: 50px;
$fb-height: 50px;
$fb-total-width: 331px;
$fb-total-height: 288px;
$fb-image: '../image/sprite.png';
$fb: (260px, 149px, -260px, -149px, 50px, 50px, 331px, 288px, '../image/sprite.png', 'fb', );
$fider-name: 'fider';
$fider-x: 0px;
$fider-y: 0px;
$fider-offset-x: 0px;
$fider-offset-y: 0px;
$fider-width: 200px;
$fider-height: 200px;
$fider-total-width: 331px;
$fider-total-height: 288px;
$fider-image: '../image/sprite.png';
$fider: (0px, 0px, 0px, 0px, 200px, 200px, 331px, 288px, '../image/sprite.png', 'fider', );
$fish-breadcrumb-name: 'fish-breadcrumb';
$fish-breadcrumb-x: 310px;
$fish-breadcrumb-y: 205px;
$fish-breadcrumb-offset-x: -310px;
$fish-breadcrumb-offset-y: -205px;
$fish-breadcrumb-width: 18px;
$fish-breadcrumb-height: 11px;
$fish-breadcrumb-total-width: 331px;
$fish-breadcrumb-total-height: 288px;
$fish-breadcrumb-image: '../image/sprite.png';
$fish-breadcrumb: (310px, 205px, -310px, -205px, 18px, 11px, 331px, 288px, '../image/sprite.png', 'fish-breadcrumb', );
$fish-breadcrumbs-name: 'fish-breadcrumbs';
$fish-breadcrumbs-x: 306px;
$fish-breadcrumbs-y: 119px;
$fish-breadcrumbs-offset-x: -306px;
$fish-breadcrumbs-offset-y: -119px;
$fish-breadcrumbs-width: 18px;
$fish-breadcrumbs-height: 11px;
$fish-breadcrumbs-total-width: 331px;
$fish-breadcrumbs-total-height: 288px;
$fish-breadcrumbs-image: '../image/sprite.png';
$fish-breadcrumbs: (306px, 119px, -306px, -119px, 18px, 11px, 331px, 288px, '../image/sprite.png', 'fish-breadcrumbs', );
$fish-hit-name: 'fish_hit';
$fish-hit-x: 205px;
$fish-hit-y: 0px;
$fish-hit-offset-x: -205px;
$fish-hit-offset-y: 0px;
$fish-hit-width: 126px;
$fish-hit-height: 114px;
$fish-hit-total-width: 331px;
$fish-hit-total-height: 288px;
$fish-hit-image: '../image/sprite.png';
$fish-hit: (205px, 0px, -205px, 0px, 126px, 114px, 331px, 288px, '../image/sprite.png', 'fish_hit', );
$fish-up-name: 'fish_up';
$fish-up-x: 0px;
$fish-up-y: 205px;
$fish-up-offset-x: 0px;
$fish-up-offset-y: -205px;
$fish-up-width: 95px;
$fish-up-height: 83px;
$fish-up-total-width: 331px;
$fish-up-total-height: 288px;
$fish-up-image: '../image/sprite.png';
$fish-up: (0px, 205px, 0px, -205px, 95px, 83px, 331px, 288px, '../image/sprite.png', 'fish_up', );
$google-name: 'google';
$google-x: 100px;
$google-y: 205px;
$google-offset-x: -100px;
$google-offset-y: -205px;
$google-width: 50px;
$google-height: 50px;
$google-total-width: 331px;
$google-total-height: 288px;
$google-image: '../image/sprite.png';
$google: (100px, 205px, -100px, -205px, 50px, 50px, 331px, 288px, '../image/sprite.png', 'google', );
$youtube-name: 'youtube';
$youtube-x: 205px;
$youtube-y: 149px;
$youtube-offset-x: -205px;
$youtube-offset-y: -149px;
$youtube-width: 50px;
$youtube-height: 50px;
$youtube-total-width: 331px;
$youtube-total-height: 288px;
$youtube-image: '../image/sprite.png';
$youtube: (205px, 149px, -205px, -149px, 50px, 50px, 331px, 288px, '../image/sprite.png', 'youtube', );
$spritesheet-width: 331px;
$spritesheet-height: 288px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($btn-facebook, $btn-google-plus, $btn-like, $btn-twitter, $fb, $fider, $fish-breadcrumb, $fish-breadcrumbs, $fish-hit, $fish-up, $google, $youtube, );
$spritesheet: (331px, 288px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
