/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, eot ttf woff);
@include font-face("TahomaBold", "../fonts/TahomaBold/Tahoma-Bold", 700, normal, eot ttf woff);
@include font-face("CalibriBold", "../fonts/CalibriBold/CalibriBold", 700, normal, eot ttf woff);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  background-color: #f1f1f1;
}

.wrapperBlock {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.correct_right{
  padding-right: 0!important;
}

.correct_left{
  padding-left: 0!important;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/



/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  //overflow: hidden;
}


.main_catalogs{
  width: 100%;
  margin-top:25px;
}

$minSliderHeight: 578px;

.bl_catalogProducts{
  width: 100%;
  min-height: $minSliderHeight;
  background-color: #fff;
}

.title_name{
  margin-top: 2px;
  margin-bottom: 0;

  text-align: left;
  color: $color_grey2;
  font-family: $TahomaBold;
  font-size: 24px;
}
.bl_catalogProducts__title{
  display: block;
  width: 100%;
  line-height: 36px;
  padding:20px;
  border-bottom: 1px solid #eee;
}

.bl_catalogProducts__full{
  width: 100%;
  padding: 0 20px 16px;
}

.bl_catalogProducts__item{
  margin-top: 30px;
  width: 100%;


  &:nth-of-type(1){
    margin-top: 0;
  }


  &:hover{
    text-decoration: underline;
  }

}


.mainSlider__fullBlock{
  width: 100%;

}

.bl_mainSlider{
  width: 100%;
  min-height: $minSliderHeight;
  border: 1px solid red;
}

.bl_mainSlider__item{
  position: relative;
  width: 100%;
}

.bl_mainSlider__sale{

  width: 354px;

  position: absolute;
  top: 120px;
  right: 71px;
  text-align: center;

}
.bl_mainSlider__sale_text{


  color: white;
  font-family: Calibri, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
}

.bl_mainSlider__details{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  display: block;

  width: 270px;
  height: 50px;
  background-color: $color_blue;
  border-radius: 25px;
}

.bl_mainSlider__details_text{

  color: #f1f1f1;
  font-family: $Tahoma;
  font-size: 16px;
  line-height: 3;
  text-transform: uppercase;
}


// OWL

.owl-carousel  .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 50px;
    background-color: #202020;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
      background: url("../image/arrow_left.svg") 50% 50% no-repeat;

    }



  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    background-color: #202020;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
      background: url("../image/arrow_right.svg") 50% 50% no-repeat;

    }



  }
}

// OWL END

.bl_popular{
  clear: both;
  margin-top: 36px;
  position: relative;
  width: 100%;
  min-height: 570px;
  background-color: #fff;
}


.bl_popular__title{
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}


.slider_popular{
  margin-top: 42px;
  width: 100%;
}

.bl_popular__item{
  position: relative;
  height: 250px;  //////////////
  border: 1px solid #f00;

}

.sale_mark{
  position: absolute;
  top: -13px;
  left: -7px;


  width: 113px;
  height: 100px;
  background: url("../image/fish_hit.svg") 50% 50% no-repeat;
}

.sale_mark__text{



  color: green;
  font-family: "Arial Narrow";
  font-size: 24px;
  font-weight: 400;
  line-height: 87px;
  text-transform: uppercase;
}


/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
