@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 992px) {


  .bl_logo__image{
    margin: 0 auto;
  }

  .bl_phonesSearch{
    float: none;
    margin: 30px auto 0;

  }

  .bl_currency{
    float: left;
    
  }
  .bl_currency__label{
    float: none;
  }
  .bl_currency__label{
    float: none;
  }
  .bl_personalRoom{
    width: 50%;
    float: right;
    margin: 30px auto 0;
  }
  .bl_personalRoom__text{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }



.bl_shoppingCart{
  width: 50%;
  float: left;

  //padding-right: 20px;
  margin-top: 30px;

}


}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {


  .bl_fullNavigation{
    min-height:50px;
  }

  .bl_adress{
    font-weight:bold;

    &:before{
      background: none;
    }
  }



}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {


}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

}
