@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {

  .bl_catalogProducts {
    min-height: inherit;
  }
  .bl_catalogProducts__item {
    margin-top: 7%;
  }

  .likeButton_circle {
    margin-left: 1%;
  }

  .view_list__STYLE .bl_fullProducts__imageWrapper {
    width: 33%;
  }

  .button_map {
    position: absolute;
    left: -120%;
  }
  .bl_positionSorted {
    margin-top: 6px;
  }

}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .bl_control {
    min-height: 48px;
  }

  .bl_fullCategories {

    display: none;

    position: absolute;
    width: auto;
    left: 0;
    top: 48px;
    border-top: none;
    z-index: 99;
  }

  .bl_fullCategories.active{
    display: block;
  }

  .bl_logo__image {
    margin: 0 auto;
  }

  .bl_phonesSearch {
    float: none;
    margin: 6px auto 0;
  }

  .bl_search__wrap {
    left: -100px;
  }

  .bl_currency {
    float: left;
  }

  .bl_currency__label {
    float: none;
  }
  .bl_personalRoom {
    width: 50%;
    float: right;
    margin: 30px auto 0;
  }
  .bl_personalRoom__text {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .bl_shoppingCart {
    width: 50%;
    float: none;
    margin: 30px auto 0;

  }

  .rubric__title_text {
    text-align: center;
  }

  .rubric__title_margin {
    padding: 0;
  }

  .view_grid__STYLE .bl_fullProducts__item {
    min-height: 502px;
  }

  .main-menu.custom_menu{
    display: none;
    min-height: 100px;
  }

  .bl_catalogProducts{
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 300px;
    z-index: 100;
  }


  .bl_catalogProducts__full {

    min-height: 100px;
    min-width: 300px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    z-index: 10;
  }



  .bl_catalogProducts__item {
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;

  }

  .bl_catalogProducts__link {
    font-family: $Tahoma;
    font-size: 16px;
    color: #000;
    padding: 6px 0;
  }

  .view_grid__STYLE .bl_fullProducts__characteristics {
    display: block;
  }

  .bl_filters, .bl_filters__productsFilters {
    display: none;
  }

  .bl_filters__caterogyName {
    text-align: center;
    font-size: 21px;
  }

  .bl_filters__subName {
    font-size: 16px;
  }

  .bl_filters__productsFilters .decor_leftTriangle__active:after {
    left: 1%;
    top: 0;
    z-index: 2;
  }

  .filter_name {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

  .bl_filters__fullRubric {
    margin-top: 25px;
  }

  .likeButton_circle {
    margin-left: 0;
    width: 80px;
    height: 80px;
  }

  .psevdo_addedItems {
    height: 80px;
  }

  .likeButton_icon-car:after,
  .likeButton_icon__cart:after,
  .likeButton_icon__mark:after {
    transform: translate(-50%, -50%) scale(.8);
  }

  .code_information__title,
  .code_contacts__title,
  .code_adress__title {

    position: relative;
    margin-top: 0;
    padding: 10px;
    border-bottom: 2px solid $color_blue;

    &:after {

      position: absolute;
      top: 8px;
      right: 10px;

      font-size: 24px;
      color: $color_blue;
      content: "\f103";
      font-family: $FontAwesom;
    }
  }

  .code_information__full,
  .code_contacts__full,
  .code_adress__full {
    display: none;
  }

  .footer_fullPages {
    margin-top: 10px;
  }

  .footer_firstPart {
    margin-bottom: 10px;
  }

  .bl_breadcrumbs__item {
    &:not(:last-child):after {
      right: 4px;
    }
  }

  .rubric__title_button {
    left: 4%;
  }

  .psevdo_addedItems {
    display: block;
    font-size: 0;
  }

  .psevdo_addedItems__item {
    display: inline-block;
    width: calc(100% / 4 - 2px);


    &:nth-child(-n+3){
      margin-right: 2px;
    }

  }
  .psevdo_addedItems__item img {
    box-sizing: border-box;
    border: 1px solid #e1e8ec;
  }
  .psevdo_addedItems__text {
    display: block;
  }

  .psevdo_addedItems__item:nth-of-type(5n) {
    display: none;
  }

  .affilliated-products {
    display: none;
  }

}

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {

  .bl_fullControlsMenu {
    padding: 0;
    padding-top: 54px;
    margin-bottom: 6px;
  }

  .bl_fullCategories{
    width: 0;
    //left: 25%;
  }

  .bl_catalogProducts{
    top: 64px;
  }


  .bl_fullControlsMenu .btn_microCallBack {
    display: block;
  }

  .open-menu-main {
    position: absolute;
    top: 56px;
    left: 5px;

  }
  .field_search__second {
    height: auto;
  }

  .bl_fullProduct {
    margin-top: 15px;
  }

  .bl_logo__link {
    position: relative;
    margin-top: -48px;
    margin-bottom: 5px;
  }

  .rubric__title_margin__filters {
    margin-top: 10px;
  }

  .bl_category__filters {
    line-height: 32px;
    max-width: 320px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 2px solid $color_blue;
  }

  .bl_search__wrap {
    width: 320px;
  }

  .bl_shoppingCart {
    width: 30%;
    margin: 0;
    position: absolute;
    right: -30px;
    top: -90px;
  }

  .bl_fullNavigation {
    display: none;
  }

  //#top_menu {
  //  margin-top: 22px;
  //}

  .shoppingBasket_product__good {
    margin-top: 15px;
  }

  .bl_adress {
    font-weight: bold;

    &:before {
      background: none;
    }
  }

  .bl_mainSlider__sale_text {
    font-size: 5em;
  }

  .bl_mainSlider__sale {
    top: 40px;
    right: 0;
  }

  .content_discount_form {
    background-image: none;
  }

  .discount_form__likeTitle {
    display: block;
    width: 100%;
    margin: 10px auto;
  }

  .content_discount__blockTitle {
    margin: 10px auto;
    width: 100%;
    text-align: center;
  }

  .discount_form__coverFish {
    margin: 0 auto;
  }

  .discount_form__button_text {
    padding: 0;
  }

  .discount_form__button {
    margin: 15px auto;
  }

  .content_discount_form {
    display: block;
  }

  .view_grid__STYLE .bl_fullProducts__item {
    margin-left: 4px;
  }

  .bl_subCategories__item {
    max-width: initial;
  }

  .inf_product__tabs {
    flex-direction: column;
    width: 100%;
  }
  li.inf_product__item {
    width: 100%;

  }

  .inf_product__tabs .inf_product__item.active a {
    border-top: none;
    background-color: $color_blue;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      border: none;
      background-color: $color_blue;
      color: #fff;
    }

  }

  .view_list__STYLE .bl_fullProducts__imageWrapper {
    min-width: 200px;
  }

  .bl_fullProducts__item .button_buy {
    max-width: 250px;
  }

  .rubric__title_text {
    font-size: 20px;
    padding-left: 30px;
  }

  li.inf_product__item.inf_product__item_correctForTwo {
    width: 100%;
  }

  .inf_product .tab-content {
    padding-right: 0;
  }
  .bl_raiting {
    margin-top: 0;
  }

  .bl_ancor {
    bottom: 65px;
    right: 6%;
    opacity: 0.8;
  }

  .bl_search {
    margin-bottom: 20px;
  }

  .bl_phonesSearch {
    margin-top: -8px;
    max-width: 200px;

  }

}

@media only screen and (max-width: 600px) {

  .bl_mainSlider__sale {
    width: auto;
  }
  .bl_mainSlider__sale_text {
    font-size: 3em;
  }

  .view_grid__STYLE .bl_fullProducts__item {
    max-width: 47.8%;
    margin-bottom: 0;
  }

  .coupon-block__fildForCoupon,
  .coupon-block__button {
    display: block;
    margin: 10px auto;
  }

  .card-product-info__prior-list {
    display: none;
  }

  //.psevdo_addedItems {
  //  height: 62px;
  //}

}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {

  .bl_mainSlider__sale {
    top: 30px;
  }

  .bl_mainSlider__sale_text {
    font-size: 2em;
  }

  .bl_productAdvantages {
    display: none;
  }
  .bl_search__wrap {
    left: -70px;
  }

  .view_grid__STYLE .bl_fullProducts__item {
    max-width: 100%;
    min-height: initial;
    margin-bottom: 10px;
    margin-left: 0;
    border: 1px solid $color_blue;
  }
  .bl_fullProducts__characteristics {
    position: relative;
    width: 100%;
    border: none;
  }

  .bl_article .bl_topic__text {
    margin-left: 0;
  }
  .complex_product {
    flex-direction: column;
    margin: 0 auto;
  }
  .complex_product__firstProduct,
  .bl_plus,
  .complex_product__secondProduct {
    margin: 0 auto;
  }

  .bl_mixMobile .product_sliderCart__item {
    border: 1px solid $color_blue;
    margin-bottom: 20px;
  }
  .bl_mixMobile .product_sliderCart__item_wrapper {
    margin-bottom: 10px;
  }

  .bl_ancor {
    bottom: 22px;
  }
  .bl_ancors__btn {
    font-size: 16px;
  }

  .psevdo_addedItems {
    height: 124px;
  }

}

@media only screen and (max-width: 400px) {
  .prior-list__item {
    width: 100%;
    padding-bottom: 18px;
  }
  .bl_sorter__select {
    display: block;
  }
  .icon-arrowDown:after {
    top: 21px;
  }

  .rubric__title_button {
    width: 33px;
    height: 33px;
    line-height: 40px;
    margin-top: 4px !important;
  }
  .rubric__title_button__filters:after {
    line-height: 23px;
  }

  .bl_ancors__btn {
    font-size: 12px;
  }
}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {

  .rubric__title_button {
    left: 4px;
    width: 28px;
    height: 28px;
    line-height: 32px;
    margin-top: 12px !important;

  }

  .bl_ancors__btn {
    width: 26.5%;
  }

}

@media (min-width: 1200px) {
  .bl_buyWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
  }

  .block_quantity__text {
    margin-top: 5px;
  }

  .button_buy {
    margin-top: 0;
  }
}


